<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Wompi API Keys - Cobros (Depósitos) -->
    <add key="Wompi.Ambiente" value="sandbox" />
    <add key="Wompi.LlavePublica" value="pub_test_UzTc2JPLJ14sLarl2xhvTAPnClWTdgsv" />
    <add key="Wompi.LlavePrivada" value="prv_test_jC1W22kdV4JSSw2r0LJbrZQOEYfkDihh" />
    <add key="Wompi.LlaveIntegridad" value="test_integrity_lE0lFA1vlpvcv7Ag77lB9180AVBkaZ5c" />
    
    <!-- Wompi API Keys - Pagos a Terceros (Retiros/Payouts) - LLAVES DIFERENTES A COBROS -->
    <add key="Wompi.Payouts.ApiKey" value="TU_API_KEY_PAYOUTS_SANDBOX" />
    <add key="Wompi.Payouts.UserPrincipalId" value="TU_USER_PRINCIPAL_ID_SANDBOX" />
    <add key="Wompi.Payouts.AccountId" value="UUID_DE_TU_CUENTA_ORIGEN_WOMPI" />
    <add key="Wompi.Payouts.BaseUrl" value="https://sandbox.wompi.co/api/v1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
